    <!--================================
        START BREADCRUMB AREA
    =================================-->
    <section class="breadcrumb-area breadcrumb--center breadcrumb--smsbtl bgimage">
        <div class="bg_image_holder">
            <img src="assets/images/landpage/bg02.jpg" alt="">
        </div>
      <div class="container content_above">
            <div class="row">
                <div class="col-md-12">
                    <div class="page_title">
                        <h3>Nosotros</h3>
                        <p class="subtitle">You came to the right place</p>
                    </div>
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a [routerLink]="['/home']">Inicio</a>
                            </li>
                            <li class="active">
                                <a [routerLink]="['/about']">Nosotros</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end /.col-md-12 -->
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </section>
    <!--================================
        END BREADCRUMB AREA
    =================================-->

    <!--================================
    END ABOUT HERO AREA
=================================-->
<section class="about_mission">
    <div class="content_block1">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-sm-12">
            <div class="content_area">
              <h1 class="content_area--title">Sobre
                <span class="highlight">CAS Play</span>
              </h1>
              <p>Culinary Arts School es una escuela de formación especializada en Arte Culinario y Hospitalidad, creada con la finalidad de dar respuesta a la creciente demanda de profesionalización de un sector importante para el desarrollo del país por su repercusión en el campo turístico, económico, social y cultural.</p>
            </div>
          </div>
          <!-- end /.col-md-5 -->
        </div>
        <!-- end /.row -->
      </div>
      <!-- end /.container -->

      <div class="content_image bgimage">
        <div class="bg_image_holder">
          <img src="assets/images/ab1.jpg" alt="">
        </div>
      </div>
    </div>
    <!-- end /.about -->

    <div class="content_block2">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6  offset-md-6 offset-lg-7">
            <div class="content_area2">
              <h1 class="content_area2--title">MartPlace
                <span class="highlight">Mission</span>
              </h1>
              <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra justo ut sceler isque the mattis,
                leo quam aliquet congue this there placerat mi id nisi they interdum mollis. Praesent pharetra
                justo ut sceleris que the mattis, leo quam aliquet. Nunc placer atmi id nisi interdum mollis
                quam. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                invidunt sanctus est Lorem ipsum dolor sit amet consetetur sadipscing.</p>
            </div>
          </div>
          <!-- end /.col-md-5 -->
        </div>
        <!-- end /.row -->
      </div>
      <!-- end /.container -->

      <div class="content_image2 bgimage">
        <div class="bg_image_holder">
          <img src="assets/images/ab2.jpg" alt="">
        </div>
      </div>
    </div>
    <!-- end /.mission-->
  </section>
  <!--================================
  END ABOUT HERO AREA
  =================================-->
